<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("editing_store") %></h1>
<%= render "shared/error_messages", :target => @store %>
<% form_for(@store, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons">
    <%= button t('update') %>
    <%= t("or") %> <%= link_to t("actions.cancel"), admin_stores_url %>
  </p>
<% end %>
