<div data-hook="admin_store_form_fields">
  <div class="alpha four columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %><br />
      <%= f.text_field :name, :class => 'fullwidth' %>
      <%= error_message_on :store, :name %>
    <% end %>
  </div>

  <div class="four columns">
    <%= f.field_container :code do %>
      <%= f.label :code, Spree.t(:code) %><br />
      <%= f.text_field :code, :class => 'fullwidth' %>
      <%= error_message_on :store, :code %>
    <% end %>
  </div>

  <div class="two columns">
    <%= f.field_container :default do %>
      <%= f.label :default, Spree.t(:default) %>
      <ul>
        <li><%= f.radio_button :default, :class => 'fullwidth' %> <%= Spree.t(:yes) %></li>
        <li><%= f.radio_button :default, :class => 'fullwidth' %> <%= Spree.t(:no) %></li>
      </ul>
      <%= error_message_on :store, :default %>
    <% end %>
  </div>

  <div class="four columns">
    <%= f.field_container :send_mails_as do %>
      <%= f.label :send_mails_as, Spree.t(:send_mails_as) %><br />
      <%= f.text_field :email, :class => 'fullwidth' %>
      <%= error_message_on :store, :email %>
    <% end %>
  </div>

  <div class="four columns">
    <%= f.field_container :default_currency do %>
      <%= f.label :default_currency, Spree.t(:default_currency) %>
      <%= f.text_field :default_currency %>
    <% end %>
  </div>

  <div class="six columns">
    <%= f.field_container :domains do %>
      <%= f.label :domains, Spree.t(:domains) %><br />
      <%= f.text_area :domains, :cols => 60, :rows => 4, :class => 'fullwidth' %>
      <%= error_message_on :store, :domains %>
    <% end %>
  </div>

  <div class="eight columns">
    <%= image_tag @store.logo %>
    <%= f.field_container :logo do %>
      <%= f.label :logo, Spree.t(:logo) %><br />
      <%= f.file_field :logo %>
      <%= error_message_on :store, :logo %>
    <% end %>
  </div>

  <div class='row'>
    <div class="alpha six columns">
      <%= f.field_container :payment_methods do %>
        <%= f.label :payment_methods, Spree.t(:payment_methods) %><br />
        <% @payment_methods.each do |payment_method| %>
          <label class="sub">
            <%= check_box_tag 'store[payment_method_ids][]', payment_method.id, @store.payment_methods.include?(payment_method) %>
          </label> &nbsp;
          <%= "#{payment_method.name} (#{payment_method.environment})" %>
          <br>
        <% end %>
        <%= hidden_field_tag 'store[payment_method_ids][]', '' %>
      <% end %>
    </div>

    <div class="omega six columns">
      <%= f.field_container :shipping_methods do %>
        <%= f.label :shipping_methods, Spree.t(:shipping_methods) %><br />
        <% @shipping_methods.each do |shipping_method| %>
          <label class="sub">
            <%= check_box_tag 'store[shipping_method_ids][]', shipping_method.id, @store.shipping_methods.include?(shipping_method) %>
          </label> &nbsp;
          <%= shipping_method.name %>
          <br>
        <% end %>
        <%= hidden_field_tag 'store[shipping_method_ids][]', '' %>
      <% end %>
    </div>
  </div>
</div>
