<div data-hook="admin_store_multi_domain_fields">
  <div class="two columns">
    <%= f.field_container :default do %>
      <%= f.label :default, Spree.t(:default) %>
      <ul>
        <li><%= f.radio_button :default, "true", :class => 'fullwidth' %> <%= Spree.t(:say_yes) %></li>
        <li><%= f.radio_button :default, "false", :class => 'fullwidth' %> <%= Spree.t(:say_no) %></li>
      </ul>
      <%= error_message_on :store, :default %>
    <% end %>
  </div>

  <div class="eight columns">
    <% if @store.logo.exists? %>
      <%= image_tag @store.logo %>
    <% end %>
    <%= f.field_container :logo do %>
      <%= f.label :logo, Spree.t(:logo) %><br />
      <%= f.file_field :logo %>
      <%= error_message_on :store, :logo %>
    <% end %>
  </div>

  <div class='row'>
    <div class="alpha six columns">
      <%= f.field_container :payment_methods do %>
        <%= f.label :payment_methods, Spree.t(:payment_methods) %><br />
        <% @payment_methods.each do |payment_method| %>
          <label class="sub">
            <%= check_box_tag 'store[payment_method_ids][]', payment_method.id, @store.payment_methods.include?(payment_method) %>
          </label> &nbsp;
          <%= payment_method.name %>
          <br>
        <% end %>
        <%= hidden_field_tag 'store[payment_method_ids][]', '' %>
      <% end %>
    </div>

    <div class="omega six columns">
      <%= f.field_container :shipping_methods do %>
        <%= f.label :shipping_methods, Spree.t(:shipping_methods) %><br />
        <% @shipping_methods.each do |shipping_method| %>
          <label class="sub">
            <%= check_box_tag 'store[shipping_method_ids][]', shipping_method.id, @store.shipping_methods.include?(shipping_method) %>
          </label> &nbsp;
          <%= shipping_method.name %>
          <br>
        <% end %>
        <%= hidden_field_tag 'store[shipping_method_ids][]', '' %>
      <% end %>
    </div>
  </div>
</div>
