<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:stores) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_store), new_object_url,  :icon => 'icon-plus', :id => 'admin_new_store_link' %>
  </li>
<% end %>

<table class="index" id='listing_stores'>
  <colgroup>
    <col style="width: 120px">
    <col style="width: 80px">
    <col style="width: 80px">
    <col style="width: 220px">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <th><%= Spree.t(:name) %></th>
    <th><%= Spree.t(:code) %></th>
    <th><%= Spree.t(:send_mails_as) %></th>
    <th><%= Spree.t(:domains) %></th>
    <th data-hook="admin_stores_index_header_actions" class="actions"></th>
  </thead>
  <tbody>
    <% @stores.each do |store|%>
      <tr id="<%= spree_dom_id store %>"
          data-hook="admin_stores_index_rows" class="<%= cycle('odd', 'even') %>">
        <td><%= store.name %></td>
        <td><%= store.code %></td>
        <td><%= store.email %></td>
        <td><%= store.domains %></td>
        <td data-hook="admin_stores_index_row_actions" class="actions">
          <%= link_to_edit store, :no_text => true %> &nbsp;
          <%= link_to_delete store, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
