<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= I18n.t('spree.stores') %>
<% end %>

<% content_for :page_actions do %>
  <% if can?(:create, Spree::Store) %>
    <li>
      <%= link_to I18n.t('spree.new_store'), new_object_url, :icon => 'icon-plus', :id => 'admin_new_store_link' %>
    </li>
  <% end %>
<% end %>

<table class="index" id='listing_stores'>
  <colgroup>
    <col style="width: 120px">
    <col style="width: 80px">
    <col style="width: 80px">
    <col style="width: 220px">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <th><%= I18n.t('spree.store_name') %></th>
    <th><%= I18n.t('spree.store_code') %></th>
    <th><%= I18n.t('spree.send_mails_as') %></th>
    <th><%= I18n.t('spree.domains') %></th>
    <th data-hook="admin_stores_index_header_actions" class="actions"></th>
  </thead>
  <tbody>
    <% @stores.each do |store|%>
      <tr id="<%= spree_dom_id store %>"
          data-hook="admin_stores_index_rows" class="<%= cycle('odd', 'even') %>">
        <td><%= store.name %></td>
        <td><%= store.code %></td>
        <td><%= store.mail_from_address %></td>
        <td><%= store.url %></td>
        <td data-hook="admin_stores_index_row_actions" class="actions">
          <% if can? :update, store %>
            <%= link_to_edit store, :no_text => true %>
          <% end %>
          <% if can? :destroy, store %>
            <%= link_to_delete store, :no_text => true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
