<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t("new_store") %></h1>
<%= render "spree/shared/error_messages", :target => @store %>

<%= form_for(:store, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons">
    <%= button t('continue') %>
    <%= t("or") %> <%= link_to t("actions.cancel"), admin_stores_url %>
  </p>
<% end %>
